name: CI - Build and Push to ECR

on:
  workflow_dispatch:
  #push:
  #  branches:
  #    - main

env:
  AWS_REGION: us-east-1    
  ECR_REPOSITORY: eks-cluster-helloworld
  IMAGE_TAG: latest

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image
        run: |
          docker build -t $ECR_REPOSITORY:$COMMIT_SHA -f scripts/Dockerfile scripts/

          # Tag image with commit SHA and push
          docker tag $ECR_REPOSITORY:$COMMIT_SHA ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:$COMMIT_SHA
          docker push ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:$COMMIT_SHA
